/* Global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}


h1,
h2,
h3,
h4 {
    color: #131313;
}

p {
    color: #727272;
    font-size: 14px;
}



/* header area start */
.header {
    padding: 50px 0;
    background-color: #FFF4E7;
    overflow: hidden;
}

.header-top {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}



/* navbar */
.navbar ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    padding-right: 40px;
}


.navbar ul li a { 
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

/* header content */
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-title {
    margin: 0;
    font-size: 50px;
    text-align: center;
}

.header-content p {
    text-align: center;
    /* font-size: 14px; */
    font-weight: 400;
    line-height: 22px;
    width: 70%;
    margin-bottom: 20px;
}

.btn-explore {
    cursor: pointer;
    padding: 15px 20px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}


.header-banner {
    overflow: hidden;
    margin-top: 40px;
}

.header-banner img {
    width: 100%;
}

/* header area end */



/* feature area start */
.feature {
    padding: 50px 0;
}

.feature img {
    /* display: block; */
    width: 100%;
}

.feature-img {
    width: 250px;
}

.feature-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-left: 5%
}


/* feature content */
.feature-content {
    padding-left: 5%
}

.feature-content h3 {
    font-size: 35px;
    line-height: 50px;
    width: 80%;
    margin-top: 0;
    margin-bottom: 10px;
}

.light-color {
    color: #727272;
    font-weight: 500;
}

.deep-color {
    color:#FF900E;
}

.feature-content p {
    line-height: 22px;
    margin-bottom: 20px;
}

/* feature area end */



/* feature list start */
.feature-list{
    padding: 50px;
}

.feature-list-container {
    display: flex;
    justify-content: space-between;
}

.list-content {
    width: 42%;
}

.list-banner {
    width: 50%;
    position: relative;
}

.list-banner img {
    width: 100%;
}

.list-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.feature-title {
    font-size: 33px;
    width: 70%;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}

.feature-subtitle {
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
}


/* featrue card */
.feature-card {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 16px;
    margin-bottom: 20px;
}

.feature-card-title {
    margin: 0 0 10px 0;
    font-size: 15px;
}

.feature-card-text {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
}


/* experience field */
.experience-field {
    text-align: center;
    background-color: #FF900E;
    padding: 35px 30px;
    border-radius: 5px;
    position: absolute;
    left: -45px;
    bottom: 50px;
}

.experience-field h2 {
    margin: 0;
    font-size: 45px;
    line-height: 40px;
    color: white;
}

.experience-field p {
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
}
/* feature list end */


/* Some facts area start */
.some-facts {
    padding: 50px;
}

.facts-title {
    font-size: 35px;
    line-height: 50px;
    margin: 0;
}

.facts-text {
    width: 40%;
    line-height: 20px;
    margin-top: 10px;
}

.facts-card-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.facts-card {
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

.facts-icon {
    width: 35px;
}

.facts-card h2 {
    margin: 0;
    color: #424242;
    font-size: 35px;
    line-height: 50px;
    font-weight: 600;
}

.facts-card p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}
/* Some facts area end */



/* Sponsors area start */
.sponsors {
    padding: 50px;
}

.sponsors-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors-title {
    font-size: 35px;
    margin: 0;
}

.sponsors-text {
    width: 40%;
}

.sponsor-brands {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.sponsor-logo {
    /* overflow: hidden; */
}

.sponsor-brands img {
    width: 100%;
    /* display: inline-block; */
    /* padding-right: 30px; */
}
/* Sponsors area end */

